<!-- THIS FILE IS REGENERATED WEEKLY BY .github/workflows/refresh.yml — DO NOT HAND-EDIT -->

<div align="center">

<img src="assets/widgets/hero.svg" width="900" alt="philotheephilix" />

</div>

<table>
  <tr>
    <td><img src="assets/widgets/activity.svg" width="300" /></td>
    <td><img src="assets/widgets/active-loops.svg" width="300" /></td>
    <td><img src="assets/widgets/chains.svg" width="300" /></td>
  </tr>
  <tr>
    <td><img src="assets/widgets/shipped-this-week.svg" width="300" /></td>
    <td><img src="assets/widgets/uptime.svg" width="300" /></td>
    <td><img src="assets/widgets/hackathon.svg" width="300" /></td>
  </tr>
  <tr>
    <td><img src="assets/widgets/availability.svg" width="300" /></td>
    <td><img src="assets/widgets/now-playing.svg" width="300" /></td>
    <td><img src="assets/widgets/location.svg" width="300" /></td>
  </tr>
  <tr>
    <td><a href="https://github.com/Philotheephilix?tab=repositories"><img src="assets/widgets/featured.svg" width="300" alt="featured" /></a></td>
    <td><a href="https://github.com/Philotheephilix"><img src="assets/widgets/currently.svg" width="300" alt="currently" /></a></td>
    <td><a href="https://philotheephilix.in"><img src="assets/widgets/signature.svg" width="300" alt="signature" /></a></td>
  </tr>
</table>

<div align="center">

<img src="assets/widgets/diary.svg" width="900" alt="diary" />

</div>
